<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Count of Login Attempts</title>
</head>
<body>
    <table>
        <td> 
            <tr>
                <!--To display login attempt-->
                <!--Screen if account has been temporarily deactivated -->
                <th-text="Your login username has been deactivated for 30 min>
            </th-text>
            <!--insert href back to View 0-->
            <link th:ref="@{view0}">
            </tr>
        </td>
    </table>
</body>
</html>